img{
    width: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    gap: 40px
}

.item{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top-left {
    position: absolute;
    top: 90px;
    left: 40px;
    font-size: 85px;
    font-family: serif, georgia;
    color:rgb(72, 73, 75)
  }